.App {
  text-align: center;
  background-color: #81AF76;
  color: rgb(26, 18, 21);
}


.App-header {
  display: flex;
  padding: 10px;
}

.App-body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.company-name {
  font-size: 20px;
}

.pitch-short {
  font-size: 30px;
}

.pitch-long {
  font-size: 15px;
}

.question {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  background: #482800 !important;
  color: white !important;
  border: 0px !important;
}

.button:hover {
  filter: saturate(0.5) !important;
}

.button:active {
  filter: saturate(0.1) !important;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.photo-list {
  width: 30px;
  height: 30px;
}

.product-list {
  background-color: #81AF76;
}