.App {
  text-align: center;
  font-family: Arvo, serif;
  
}


.App-header {
  background-color: #81AF76;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: rgb(26, 18, 21);
}

.App-body {
  
}
.company-name {
  font-size: 20px;
}

.pitch-short {
  font-size: 30px;
}

.pitch-long {
  font-size: 15px;
}

.question {
  font-size: 15px;
}

.button {
  background: #482800 !important;
  color: white !important;
  border: 0px !important;
}

.button:hover {
  filter: saturate(0.5) !important;
}

.button:active {
  filter: saturate(0.1) !important;
}
